<!doctype html>

<html>
<head>
	<title>Breakpoint</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="/css/application.css" rel="stylesheet">
	<link href="/css/playlist.css" rel="stylesheet">
	<link href="/css/list.css" rel="stylesheet">

</head>

<body>
	<div class="row menubar">
		<a id="back" href="/"><div class="col-xs-2"><span class="helper"></span><span class="glyphicon glyphicon-chevron-left"></span></div></a>
		<a href="/"><div class="col-xs-8"><span class="helper"></span><img src="/images/logowhite.png"/></div></a>
		<div class="col-xs-2"></div>
	</div>
	<div class="row searchbar">
		<form action="/search" method="get">
		<div class="col-xs-10"><span class="helper"></span><input type="text" id="query" value="Search your videos..."></div>
		<div class="col-xs-2"><span class="helper"></span><span id="submit" class="glyphicon glyphicon-search"></div>
		</form>
	</div>
	
	<a name="top"></a>

	<div class="container default">
		<div class="folded"><span class="glyphicon glyphicon-time"></span>RECENTLY WATCHED</div>
		<div class="list">
			<div class="block">
				{{#if recentlyWatched.length}}
					{{#each recentlyWatched}}
						<div class="videoitem">
							<div class="thumbnails" style="background: url({{imageURL}}); background-size: cover" onclick="window.location='/video/{{_id}}'">
								<div class="over"><span class="helper"></span><span class="glyphicon glyphicon glyphicon-play-circle"></span></div>
							</div>

							<div class="title">{{title}}</div>
							<div class="description-button"><span class="glyphicon glyphicon-chevron-right"></span> Show Description</div>
							<div class="description"> {{description}} </div>
						</div>
					{{/each}}
				{{else}}
					<div class='guide'> You have no breakpoint videos. </div>
				{{/if}}
			</div>
			<div class="foldbutton"><span class="glyphicon glyphicon-chevron-up"></div>
		</div>
		
		<div class="folded"><span class="glyphicon glyphicon-plus-sign"></span>RECENTLY CREATED</div>
		<div class="list">
			<div class="block">
				{{#if recentlyCreated.length}}
					{{#each recentlyCreated}}
						<div class="videoitem">
						<a href="/video/{{_id}}">
							<div class="thumbnails" style="background: url({{imageURL}}); background-size: cover" onclick="window.location='/video/{{_id}}'">
								<div class="over"><span class="helper"></span><span class="glyphicon glyphicon glyphicon-play-circle"></span></div>
							</div>
						</a>
							<div class="title">{{title}}</div>
							<div class="description-button"><span class="glyphicon glyphicon-chevron-right"></span> Show Description</div>
							<div class="description"> {{description}} </div>
						</div>
					{{/each}}
				{{else}}
					<div class='guide'> You have no breakpoint videos. </div>
				{{/if}}
			</div>
			<div class="foldbutton"><span class="glyphicon glyphicon-chevron-up"></div>
		</div>
		
		<div class="folded"><span class="glyphicon glyphicon-list-alt"></span>YOUR SETLISTS</div>
		<div class="list">
			{{#if setlists.length}}
				{{#each setlists}}
					<div class="setlistitem">
						<div class="folded setlisttitle">{{title}}</div>
						<div class="list">
								<div class="setlist-thumbnails" style="background: url({{thumbnail_of setlistvids.[0]}}); background-size: cover" onclick="window.location='/setlist/{{_id}}'">
									<div class="over"><span class="helper"></span><span class="glyphicon glyphicon glyphicon-play-circle"></span></div>
								</div>
							<div class="setlistdescription"> {{description}} <br/> </div>
							<div class="setlistvideos">
								<div class="setlistnum">[ {{setlistvids.length}} videos ] </div>
								{{#setlistvids}}
								<div class="setlistvideo" onclick="window.location='/video/{{this}}'">{{title_of this}}</div>
								{{/setlistvids}}
							</div>
							<div class="add" onclick="window.location='/addtosetlist/{{_id}}'"><span class="glyphicon glyphicon-plus-sign"></span> ADD TO SETLIST</div>
							<div class="foldbutton setlistfoldbutton"><span class="glyphicon glyphicon-chevron-up"></div>
						</div>
					</div>
				{{/each}}
			{{else}}
				<div class='guide'> You have no setlist. Create one! </div>
			{{/if}}
			<div class="foldbutton" id="lastbutton"><span class="glyphicon glyphicon-chevron-up"></div>
		</div>
		<div class="createplaylist" onclick="window.location='/createsetlist'"> <span class="glyphicon glyphicon-plus"></span> CREATE NEW SETLIST </div>
	</div>

	<div class="searchlist"></div>
	<div id="backToFullList" onclick="toDefaultView(event)"><span class="glyphicon glyphicon-arrow-left"></span> BACK TO MAIN LIST</div>

	{{>warning}}
	<a href="#top"><div id="gobacktop"> GO BACK TO TOP <span class="glyphicon glyphicon-arrow-up"></span></div></a>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/playlist.js"></script>
</body>
</html>
